<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Event Apps</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/create">Create Event</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <main>
            <%- body %>
        </main>

        
        <footer>
            <p></p>
        </footer>
        <script src="../server.js"></script>
    </body>
</html>
