<h2>Create an event</h2>

<form action="/store" method="post">
    <div>
        <label for="title">Title:</label> <br>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="price">Price:</label> <br>
        <input type="text" name="price" id="price">
    </div>
    <div>
        <label for="description">Description:</label> <br>
        <textarea name="description" id="description"></textarea>
    </div>
    <input type="submit" value="Add Event">
</form>